In [ ]:
import pandas as pd

In [ ]:
taxi = pd.read_csv('/content/2_taxi_nyc.csv')

In [ ]:
taxi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29101 entries, 0 to 29100
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pickup_dt     29101 non-null  object
 1   pickup_month  29101 non-null  object
 2   borough       26058 non-null  object
 3   pickups       29101 non-null  int64
 4   hday          29101 non-null  object
 5   spd           29101 non-null  float64
 6   vsb           29101 non-null  float64
 7   temp          29101 non-null  float64
 8   dewp          29101 non-null  float64
 9   slp           29101 non-null  float64
 10  pcp 01        29101 non-null  float64
 11  pcp 06        29101 non-null  float64
 12  pcp 24        29101 non-null  float64
 13  sd            29101 non-null  float64
dtypes: float64(9), int64(1), object(4)
memory usage: 3.1+ MB

In [ ]:
taxi.columns = taxi.columns.str.replace(' ', '_')

In [ ]:
taxi.head()

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp_01,pcp_06,pcp_24,sd
0,2015-01-01 01:00:00,Jan,Bronx,152,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,Jan,Brooklyn,1519,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
2,2015-01-01 01:00:00,Jan,EWR,0,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
3,2015-01-01 01:00:00,Jan,Manhattan,5258,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
4,2015-01-01 01:00:00,Jan,Queens,405,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0

In [ ]:
taxi[taxi['borough'] == 'Manhattan'].value_counts()

pickup_dt            pickup_month  borough    pickups  hday  spd   vsb    temp  dewp  slp     pcp_01  pcp_06  pcp_24  sd
2015-01-01 01:00:00  Jan           Manhattan  5258     Y     5.0   10.00  30.0  7.0   1023.5  0.0     0.0     0.0     0.000000     1
2015-05-01 22:00:00  May           Manhattan  4497     N     5.0   10.00  54.0  39.0  1014.0  0.0     0.0     0.0     0.000000     1
2015-05-01 08:00:00  May           Manhattan  2450     N     5.0   10.00  50.0  39.0  1013.2  0.0     0.0     0.0     0.000000     1
2015-05-01 09:00:00  May           Manhattan  2959     N     7.0   10.00  50.0  39.0  1013.2  0.0     0.0     0.0     0.000000     1
2015-05-01 10:00:00  May           Manhattan  2548     N     7.0   10.00  49.0  39.0  1013.7  0.0     0.0     0.0     0.000000     1
                                                                                                                                  ..
2015-03-02 14:00:00  Mar           Manhattan  1490     N     5.0   6.00   34.0  25.0  1019.4  0.0     0.0     0.0     11.875000    1
2015-03-02 15:00:00  Mar           Manhattan  1785     N     9.5   8.05   34.0  20.5  1020.0  0.0     0.0     0.0     12.083333    1
2015-03-02 16:00:00  Mar           Manhattan  1995     N     15.0  9.55   34.0  17.5  1021.1  0.0     0.0     0.0     12.291667    1
2015-03-02 17:00:00  Mar           Manhattan  2443     N     11.0  10.00  36.0  13.0  1020.9  0.0     0.0     0.0     12.500000    1
2015-06-30 23:00:00  Jun           Manhattan  3828     N     7.0   10.00  75.0  65.0  1011.8  0.0     0.0     0.0     0.000000     1
Length: 4343, dtype: int64

In [ ]:
taxi['pickups'].sum()

14265773

In [ ]:
taxi.groupby('borough').agg('sum').sort_values(by='pickups', ascending=False)

,pickups,spd,vsb,temp,dewp,slp,pcp_01,pcp_06,pcp_24,sd
borough,,,,,,,,,,
Manhattan,10367841,26058.169048,38305.375714,206244.747619,133132.207143,4420361.0,16.594,113.238,395.368,11016.0
Brooklyn,2321035,26058.169048,38305.375714,206244.747619,133132.207143,4420361.0,16.594,113.238,395.368,11016.0
Queens,1343528,26058.169048,38305.375714,206244.747619,133132.207143,4420361.0,16.594,113.238,395.368,11016.0
Bronx,220047,26058.169048,38305.375714,206244.747619,133132.207143,4420361.0,16.594,113.238,395.368,11016.0
Staten Island,6957,26058.169048,38305.375714,206244.747619,133132.207143,4420361.0,16.594,113.238,395.368,11016.0
EWR,105,26058.169048,38305.375714,206244.747619,133132.207143,4420361.0,16.594,113.238,395.368,11016.0

In [ ]:
taxi.groupby('borough')['pickups'].agg('sum').idxmin()

'EWR'

In [ ]:
taxi.groupby(['borough', 'hday']).agg({'pickups': 'mean'})

                        pickups
borough       hday
Bronx         N       50.771073
              Y       48.065868
Brooklyn      N      534.727969
              Y      527.011976
EWR           N        0.023467
              Y        0.041916
Manhattan     N     2401.302921
              Y     2035.928144
Queens        N      308.899904
              Y      320.730539
Staten Island N        1.606082
              Y        1.497006

In [ ]:
taxi.groupby(['borough', 'pickup_month'], as_index=False) \
.agg({'pickups': 'sum'}) \
.sort_values('pickups', ascending=False)

          borough pickup_month  pickups
21      Manhattan          Jun  1995388
23      Manhattan          May  1888800
19      Manhattan          Feb  1718571
22      Manhattan          Mar  1661261
18      Manhattan          Apr  1648278
20      Manhattan          Jan  1455543
9        Brooklyn          Jun   482466
11       Brooklyn          May   476087
6        Brooklyn          Apr   378095
10       Brooklyn          Mar   346726
7        Brooklyn          Feb   328650
8        Brooklyn          Jan   309011
27         Queens          Jun   286311
29         Queens          May   275893
28         Queens          Mar   219561
24         Queens          Apr   216857
25         Queens          Feb   185695
26         Queens          Jan   159211
5           Bronx          May    53037
3           Bronx          Jun    49006
0           Bronx          Apr    34617
4           Bronx          Mar    32232
1           Bronx          Feb    28694
2           Bronx          Jan    22461
33  Staten Island          Jun     1673
35  Staten Island          May     1517
30  Staten Island          Apr     1068
34  Staten Island          Mar      975
31  Staten Island          Feb      903
32  Staten Island          Jan      821
15            EWR          Jun       29
17            EWR          May       27
16            EWR          Mar       14
13            EWR          Feb       14
14            EWR          Jan       11
12            EWR          Apr       10

## Минипроект

Задачи
Импортируйте библиотеку pandas как pd. 
Загрузите датасет bookings.csv с разделителем ;. 
Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные. 
Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.
Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.
На сколько ночей в среднем бронируют отели разных типов?
Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?
Проанализируйте даты запланированного прибытия. – На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?– Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов
Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?
Создайте колонку total_kids, объединив children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?
Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. 
Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.




Описание данных
Имеются следующие переменные:

Hotel – тип отеля (City Hotel или Resort Hotel)  
Is canceled – бронирование было отменено (1) или нет (0); не отмененное считается успешным
Lead time – количество дней, прошедших между датой бронирования и датой прибытия  
Arrival full date – полная дата прибытия
Arrival date year – год прибытия  
Arrival date month – месяц прибытия  
Arrival date week number – номер недели прибытия
Arrival date day of month – день прибытия
Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле
Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле
Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)
Adults – число взрослых
Children – число детей
Babies – число младенцев 
Meal – выбранный тип питания
Country – страна происхождения клиента
Reserved room type – тип зарезервированного номера
Assigned room type – тип полученного номера (может отличаться от забронированного)
Customer type – тип бронирования
Reservation status – значение последнего статуса брони: Canceled - было отменено клиентом; Check-Out - клиент зарегистрировался, но уже покинул отель; No-Show - клиент не зарегистрировался и сообщил администрации отеля причину
Reservation status date – дата обновления статуса

In [ ]:
bookings = pd.read_csv('https://stepik.org/media/attachments/lesson/360344/bookings.csv', delimiter=';')

In [ ]:
bookings.head(7)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [ ]:
bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Hotel                      119390 non-null  object
 1   Is Canceled                119390 non-null  int64
 2   Lead Time                  119390 non-null  int64
 3   arrival full date          119390 non-null  object
 4   Arrival Date Year          119390 non-null  int64
 5   Arrival Date Month         119390 non-null  object
 6   Arrival Date Week Number   119390 non-null  int64
 7   Arrival Date Day of Month  119390 non-null  int64
 8   Stays in Weekend nights    119390 non-null  int64
 9   Stays in week nights       119390 non-null  int64
 10  stays total nights         119390 non-null  int64
 11  Adults                     119390 non-null  int64
 12  Children                   119386 non-null  float64
 13  Babies                     119390 non-null  int64
 14  Meal                       119390 non-null  object
 15  Country                    118902 non-null  object
 16  Reserved Room Type         119390 non-null  object
 17  Assigned room type         119390 non-null  object
 18  customer type              119390 non-null  object
 19  Reservation Status         119390 non-null  object
 20  Reservation status_date    119390 non-null  object
dtypes: float64(1), int64(10), object(10)
memory usage: 19.1+ MB

In [ ]:
bookings.columns = bookings.columns.str.lower().str.replace(' ', '_')

In [ ]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [ ]:
bookings[bookings['is_canceled'] == 0]['country'].value_counts()[:5]

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

In [ ]:
bookings.groupby('hotel').agg({'stays_total_nights': 'mean'}).round(2)

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

In [ ]:
bookings[bookings['assigned_room_type'] != bookings['reserved_room_type']].shape[0]

14917

In [ ]:
print(bookings[bookings['arrival_date_year'] == 2016]['arrival_date_month'].value_counts(), '\n\n',
      bookings[bookings['arrival_date_year'] == 2017]['arrival_date_month'].value_counts())

October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
Name: arrival_date_month, dtype: int64

 May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: arrival_date_month, dtype: int64

In [ ]:
bookings.query('hotel == "City Hotel"' and 'is_canceled == 1').groupby('arrival_date_year')['arrival_date_month'].value_counts()

arrival_date_year  arrival_date_month
2015               September             2094
                   October               1732
                   August                1598
                   July                  1259
                   December               973
                   November               486
2016               October               2514
                   June                  2096
                   April                 2061
                   September             2022
                   May                   1915
                   August                1825
                   November              1636
                   July                  1499
                   March                 1477
                   December              1398
                   February              1337
                   January                557
2017               May                   2762
                   April                 2463
                   June                  2439
                   July                  1984
                   August                1816
                   March                 1672
                   February              1359
                   January               1250
Name: arrival_date_month, dtype: int64

In [ ]:
bookings[['adults', 'children', 'babies']].describe()
bookings[['adults', 'children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [ ]:
bookings['total_kids'] = bookings['children'] + bookings['babies']

In [ ]:
bookings.groupby('hotel')['total_kids'].mean().round(2)

hotel
City Hotel      0.10
Resort Hotel    0.14
Name: total_kids, dtype: float64

In [ ]:
bookings['has_kids'] = bookings['total_kids'] != 0

In [ ]:
bookings['has_kids'].value_counts()

False    110054
True       9336
Name: has_kids, dtype: int64

In [ ]:
with_kids = bookings.query('has_kids == 1 and is_canceled == 1').shape[0] / bookings.query('has_kids == 1').shape[0]
without_kids = bookings.query('has_kids == 0 and is_canceled == 1').shape[0] / bookings.query('has_kids == 0').shape[0]
print(round(with_kids * 100, 2), round(without_kids * 100, 2), sep='\n\n')

34.95

37.22